.container {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-height: 300px;
  margin-bottom: 25px;
}

@media screen and (max-width: 510px) {
  .container {
    padding-top: 5rem;
  }

  .logo {
    max-height: 200px;
    padding-bottom: 3rem;
  }
}
