@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,300&display=swap");
:root {
  --brown: #381111;
  --green: rgb(209, 56, 56);
  --box: #fcf8f8;
  --white: #fff;
}
