@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,300&display=swap");

.search_box {
  margin: 0px auto;
  margin-top: 10px;
  border-radius: 10px;
  padding-left: 1rem;
  box-shadow: 0px 1px 3px 5px var(--shadow);
  background-color: var(--bg);
  border: var(--border);
  width: 30rem;
}

.search_form {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_input {
  border: none;
  height: 2.5rem;
  width: 25rem;
  background-color: var(--bg);
  font-family: "Poppins", sans-serif;
}
input {
  color: var(--txtblack);
}
input:focus {
  outline: none !important;
}
input::placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--txtblack);
}

.search_icon {
  height: 1.5rem;
  color: #fff;
}
.icon {
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--brown);
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
}

/*media screen*/
@media (max-width: 515px) {
  .search_box {
    width: 20rem;
  }
}
@media (max-width: 280px) {
  .search_box {
    width: 15rem;
  }
}
