@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,300&display=swap");
.container {
  margin: 15px auto;
  margin-bottom: 25px;
  width: 100%;
  background-color: var(--contentbg);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 0px var(--shadowcontent);
  border-radius: 5px;
  word-wrap: break-word;
}

.data {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.data a {
  margin-bottom: 10px;
}

.og {
  height: 90%;
  margin-right: 25px;
  max-width: 150px;
}

.og > img {
  max-height: 100%;
  width: 100%;
}

.info {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--title);
  text-decoration: none;
  text-transform: capitalize;
}

.info:hover {
  transition: text-decoration 0.3s ease-in-out;
  text-decoration: underline;
}

.link {
  color: var(--links);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.link span {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  cursor: pointer;
  margin-left: 5px;
  color: var(--links);
}

.txt {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--txtblack);
  text-transform: capitalize;
}
.link img {
  height: 20px;
  width: 20px;
}
/*responsive*/
@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 950px) {
  .container {
    padding: 10px 10px 10px 10px;
  }
  .txt {
    font-size: 1rem;
  }
  .info {
    font-size: 1.3rem;
  }
  .link a {
    font-size: 0.9rem;
  }

  .og {
    height: 90%;
    display: flex;
    align-items: center;
    max-width: 150px;
  }
  .og > img {
    max-height: 100%;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .container {
    padding: 10px 10px 10px 10px;
  }
  .og {
    display: none;
  }
  .txt {
    font-size: 0.8rem;
  }
  .info {
    font-size: 1.1rem;
  }
  .link a {
    font-size: 0.8rem;
  }
}
