@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,300&display=swap");
.container {
  margin: 15px auto;
  width: 100%;
  background-color: var(--contentbg);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 0px var(--shadowcontent);
  border-radius: 5px;
}

.data {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  margin-left: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.og {
  height: 90%;
  max-width: 150px;
}

.og > img {
  max-height: 100%;
  width: 100%;
}

.info {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--title);
  cursor: default;
}
.link {
  color: var(--links);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.link a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  cursor: pointer;
  margin-left: 3px;
  color: var(--links);
  cursor: pointer;
}
.txt {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--txtblack);
}
.link img{
  height: 20px;
  width: 20px;
}
/*responsive*/
@media (max-width:1200px) {
  .container{
    width: 90%;
  }
}
@media (max-width:950px) {
  .container{
    height: 20vh;
  }
  .txt{
    font-size: 0.8rem;
  }
  .info{
    font-size: 1.1rem;
  }
  .link a{
    font-size: 0.8rem;
  }
  
  .og {
    height: 90%;
    display: flex;
    align-items: center;
    max-width: 150px;
  }
  .og > img {
    max-height: 100%;
    width: 100%;
  }
}
@media (max-width:650px) {
  .container{
    padding: 0rem;
  }
  .og{
    display: none;
  }
}