.footer {
  height: 50px;
  width: 100%;
  background: var(--footer);
  display: flex;
  justify-content: center;
  opacity: 0.7;
}
.thanks {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--grey);
}
.thanks a {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: var(--grey);
}
.thanks a:hover {
  color: #002b5b;
  transition: 1s;
}
