.footer {
  height: 50px;
  width: 100%;
  background: #E7F6F2;
  display: flex;
  justify-content: center;
  opacity: 0.7;
}
.thanks{
  
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #2C3333;
}
.thanks a{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #2C3333;  
}
.thanks a:hover{
  color: #002B5B;
  transition: 1s;
}
