.container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.5rem;
}
.button p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--txtblack);
  transition: opacity 0.2s ease-in-out;
}
.button p:hover {
  opacity: 0.8;
  transform: 0.5s;
}
.buttonn {
  background-color: transparent;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 50%;
  border: none;
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
}
.buttonn:hover {
  background-color: var(--hover);
  transition: 0.5s;
}
.icon {
  color: var(--txtblack);
  height: 1rem;
  width: 1rem;
  transition: 0.5s;
}
